/*/*CSS RESET*/

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

#navbar {
  background-color: #333; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: -100px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
  font-family: 'Anton', sans-serif;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding-right: 10px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar{
  z-index: 99;
}

#icon {
  size: 20vh;
  background-color: white;
}

#landing {
  background-color: white;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 200px;

}

#arrow-container {
  bottom: 55px;
  text-align: center;
  width: 100%;

}

#carousel-inner {
  font-family: caveat;
}

#landingphoto {
  transition: 3.2;
}


/*ABOUT SECTION*/

#navbar-about a:hover {
  background-color: #ddd;
  color: black;
}

#navbar-about a {
  font-family: 'Anton', sans-serif;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding-right: 10px;
}

#header-about {
  background-color: black;
}

/*#Navbar {
  background-color: #212529;
}

#Navbar .navbar-toggler{
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #fed136;
} 

#Navbar .navbar-brand {
  color: #fed136;
  font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#Navbar .navbar-brand.active, #Navbar .navbar-brand:active, #Navbar .navbar-brand:focus, #Navbar .navbar-brand:hover {
  color: #fec503;
}

#Navbar .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;

  }

 #Navbar .navbar-nav .nav-item .nav-link.active, #Navbar .navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
}

@media (min-width: 992px) {
  #Navbar {
    padding-top: 25px;
    padding-bottom: 25px;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #Navbar .navbar-brand {
    font-size: 1.75em;
    transition: all 0.3s;
  }
  #Navbar .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #Navbar.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #Navbar.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}


.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


*/


.grid {
  display: flex;
  flex-wrap: wrap;
  /*  padding: 0 4px;*/


}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column .pic {
  margin-top: 0px;
  vertical-align: middle;
  width: 100%;
}


@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}



#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}



#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(254, 209, 54, 0.9);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;

}

/*#portfolio * {
  z-index: 1;
  }*/

  #footer-home {
    position: absolute;
    bottom: 1;
    width: 100%;
    height: 2.5rem;            
  }


  /*ABOUT STYLE*/

  #aboutbg {
    background: url(../images/bg2.jpg);
    background-size:cover;
    background-position:top;
    background-repeat:no-repeat;

  }


  #gallerybg {
    background-color: #F4F0C7;
  }

  #contactbg {
    background: url(../images/subbg.jpg);
    background-size:cover;
    background-position:top;
    background-repeat:no-repeat;


  }


  .jumbotron {
    background-color: transparent;

  }


  #jumbcontact {
    font-family: 'Mouse Memoirs';
  }

  #row-about {
    padding-top: 10rem;
  }

  #about {
    padding-top: 7rem;
  }

  #row-contact {
    padding-top: 25rem;
    padding left: 30rem;
  }

  .social-media a{
    color: #efefef;
    margin-top:0 .5rem;
    font-size:3rem;
    opacity:.75;
  }

  .social-media a:hover {
    opacity: 1;
  }

  #img-george {
    height: 10vh;
    width: 10vh;
  }

  @media screen and (max-width: 420px) {
    #jumbcontact {
      flex: 50%;
      max-width: 50%;
    }
  }

  @media screen and (max-width: 420px) {
    #jumbcontact {
      flex: 100%;
      max-width: 100%;


    }
  }

  @media screen and (max-width: 425px) {
    #aboutbg {
      background: gray;
    }
  }


  @media screen and (max-width: 425px) {
    #contactbg {
      background: url(../images/sub.jpg);
      background-repeat:no-repeat;
      background-size:cover;
      background-position:top;

    }
  }

  #h4-contact {
    font-size: 20px
  }
