/*CSS RESET*/

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

/*#navbar{
	background-color: #424F47	;
}
*/
#main-image {
	height:100vh;
	width:110vh;
}

#image-one{
	height:20vh;
	width:20vh;
}

.jumbotron {
	margin-top: 1px;
}